
*.pyc
.idea/workspace.xml
.idea/other.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Reversi-Simulator.iml
.idea/vcs.xml

env/
__pycache__/
.vscode/
.ipynb_checkpoints/
saves/
.idea/